/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #5e1aac;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container h1 {
  margin-left: 20px; /* Add margin to the left of the h1 */
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
}
.home .addWorkoutButton {
  background: var(--primary) !important;
  border: 0 !important;
  color: #fff !important;
  padding: 4px 8px !important; /* Adjust padding */
  font-family: "Poppins" !important;
  border-radius: 3px !important; /* Adjust border-radius */
  cursor: pointer !important;
  font-size: 1em !important; /* Keep font size the same */
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 5px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
/* navbar */
nav {
  margin-top: auto; /* Pushes the nav to the bottom */
}

.email-logout {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically center */
  margin: 20px; /* Add margin around the email-logout section */
}

.email-logout span {
  margin-right: 10px; /* Add some space between email and logout button */
}

.email-logout button {
  white-space: nowrap; /* Prevent text from wrapping */
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 5px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}
/* App */
.App {
  display: flex;
  height: 100vh;
}
/* Sidebar in app.tsx*/
.sidebar {
  width: 250px;
  height: 100vh; /* Set height to 100% of viewport height */
  padding: 0px;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
  background: #fff;
}
/* Content */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
