/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #5e1aac;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Use Poppins font for the entire page */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
details {
  user-select: none;
}
summary {
  display: block;
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}

/* new workout form */
label, input {
  display: block;
}
input, textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 5px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
/* navbar */
nav {
  margin-top: auto; /* Pushes the nav to the bottom */
}

.email-logout {
  align-items: center; /* Align items vertically center */
  margin: 20px; /* Add margin around the email-logout section */
}


.email-logout button {
  white-space: nowrap; /* Prevent text from wrapping */
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 5px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}
/* App */
.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 4px;
  width: 15rem;
  height: 100vh;
  transition: 0.5s all;
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 38px;
      color: black;
      padding: 0 0 0 1rem;
    }
  }

  .menu-container {
    i {
      position: absolute;
      top: 93px; /* adjust as needed */
      right: 0;
      transform: translateY(-50%);
      border: none;
      background-color: transparent;
    }
  }

  .links-container {
    margin: 1.5rem 0 0 0;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0.75rem 0;
        padding: 0.75rem 0;
        width: 100%;
        border-radius: 1rem;
        cursor: pointer;

        i {
          padding: 0 1rem 0 0.5rem;
        }

        a {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 0 0 0.5rem;
        }
      }

      li.active {
        background-color: rgb(232, 154, 248);

        a {
          color: purple;
        }
      }

      li:hover {
        background-color: lightgrey;
        transition: 0.25s;
      }
    }
  }

  .profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
    bottom: 20px;

    i {
      padding: 0 1rem 0 0.5rem;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

}
.sidebar.active {
  flex: 1;
  width: 4.5rem;
  transition: 0.5s all;

  .logo-container.active {
    h1.title {
      opacity: 0;
    }
  }

  .links-container {
    a {
      opacity: 0;
    }
  }

  .profile-container {
    p {
      opacity: 0;
    }
  }

}

/* Style for Profile Icon */
.profile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  a:hover {
    background-color: #ddd;
  }
}

/* To show the dropdown menu to log out */
.show {
  display: block;
  bottom: 60px;
}

/* To display Login and Signup links at the bottom*/
.login-logout-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
}

/* Content */
.content {
  flex: 1;
  padding: 100px 0px 0px 250px;
  overflow-y: auto;
}

.add-workout {
  position: fixed;
  top: 40px; /* Adjust the distance from the top */
  right: 20px; /* Adjust the distance from the right */
  z-index: 1000; /* Ensure the button is above other elements */
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
}
.btn-purple {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
}
.btn-purple:hover {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
}
.btn-purple.btn-purple:click {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
}
.button-group {
  text-align: right;
}

/*update workout component*/
.btn-purple-outline {
  white-space: nowrap; /* Prevent text from wrapping */
  background: #fff;
  color: #706c6c;
  border:  #706c6c;
  padding: 6px 10px;
  border-radius: 5px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.material-symbols-outlined {
  font-size: 21px; /* Adjust as needed */
}
.delete-button {
  margin-top: 60px; /* Adjust as needed */
}


